<h2 id="title">Welcome to Ember</h2>

<div style="width: 400px; height: 200px;">
  {{#nano-scroll}}
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dicta, dolorum ducimus esse eum,
      exercitationem explicabo fugiat fugit illum iste, iure molestiae non possimus repellendus velit voluptatum.
      Consectetur, pariatur.
    </div>
  {{/nano-scroll}}
</div>
{{outlet}}